.works {
  width: 100%;
  height: auto;
  background-color: #eee;
  padding: 0 0 34px 0;
}
.cardFlx {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardStr {
  width: 35%;
  padding: 5%;
  height: auto;
}
.samb:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  transform: translateY(5px);
  transition: all 0.5s;
}
.slick-prev,
.slick-next:before {
  color: yellow;
}
